$white: #ffffff;
$black: #161616;

$dark1: #191919;
$dark2: #3E3E3E;
$dark3: #5F5F5F;

$light1: #EBEBF0;
$light2: #F2F2F5;
$light3: #FAFAFC;

$gray1: #8E8E8E;
$gray2: #A6A5A5;
$gray3: #B7B7B7;

$blue1: #4D13D1;
$blue2: #7551cc;
$blue3: #8298AF;

$red1: #ff0000;
$red2: #ff4646;
$red3: #FF8080;

$green1: #1B4102;
$green2: #2D6905;
$green3: #96B482;

$yellow1: #FFCC00;
$yellow2: #FDDD48;
$yellow3: #FDED72;


.bg-custom-white {
  background-color: $white;
}

.bg-custom-black {
  background-color: $black;
}

.bg-custom-dark1 {
  background-color: $dark1;
}

.bg-custom-dark2 {
  background-color: $dark2;
}

.bg-custom-dark3 {
  background-color: $dark3;
}

.bg-custom-light1 {
  background-color: $light1;
}

.bg-custom-light2 {
  background-color: $light2;
}

.bg-custom-light3 {
  background-color: $light3;
}

.bg-custom-gray1 {
  background-color: $gray1;
}

.bg-custom-gray2 {
  background-color: $gray2;
}

.bg-custom-gray3 {
  background-color: $gray3;
}

.bg-custom-blue1 {
  background-color: $blue1;
}

.bg-custom-blue2 {
  background-color: $blue2;
}

.bg-custom-blue3 {
  background-color: $blue3;
}

.bg-custom-red1 {
  background-color: $red1;
}

.bg-custom-red2 {
  background-color: $red2;
}

.bg-custom-red3 {
  background-color: $red3;
}

.bg-custom-green1 {
  background-color: $green1;
}

.bg-custom-green2 {
  background-color: $green2;
}

.bg-custom-green3 {
  background-color: $green3;
}

.bg-custom-yellow1 {
  background-color: $yellow1;
}

.bg-custom-yellow2 {
  background-color: $yellow2;
}

.bg-custom-yellow3 {
  background-color: $yellow3;
}


.text-custom-white {
  color: $white;
}

.text-custom-black {
  color: $black;
}

.text-custom-dark1 {
  color: $dark1;
}

.text-custom-dark2 {
  color: $dark2;
}

.text-custom-dark3 {
  color: $dark3;
}

.text-custom-light1 {
  color: $light1;
}

.text-custom-light2 {
  color: $light2;
}

.text-custom-light3 {
  color: $light3;
}

.text-custom-gray1 {
  color: $gray1;
}

.text-custom-gray2 {
  color: $gray2;
}

.text-custom-gray3 {
  color: $gray3;
}

.text-custom-blue1 {
  color: $blue1;
}

.text-custom-blue2 {
  color: $blue2;
}

.text-custom-blue3 {
  color: $blue3;
}

.text-custom-red1 {
  color: $red1;
}

.text-custom-red2 {
  color: $red2;
}

.text-custom-red3 {
  color: $red3;
}

.text-custom-green1 {
  color: $green1;
}

.text-custom-green2 {
  color: $green2;
}

.text-custom-green3 {
  color: $green3;
}

.text-custom-yellow1 {
  color: $yellow1;
}

.text-custom-yellow2 {
  color: $yellow2;
}

.text-custom-yellow3 {
  color: $yellow3;
}

[data-bs-theme='dark'] {
}