@tailwind base;
@tailwind components;
@tailwind utilities;
@import "color";

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

// for scroll bar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $dark2;
}

::-webkit-scrollbar-track {
  background-color: $gray3;
}

// hide change button in number input
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

// change background of radio and checkbox
input[type=radio] {
  accent-color: $blue1 !important;
}

input[type=checkbox] {
  accent-color: $blue1 !important;
}

// button style
button {
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.65 !important;
  }
  &:hover {
    opacity: 0.85;
  }
}

// create custom input
.custom-input {
  padding: 6px;
  border-radius: 8px;

  &:focus-visible {
    outline: none;
    border-width: 2px;
  }
}

.custom-input-none {
  border: none;
  background-color: inherit;

  &:focus-visible {
    outline: none;
  }
}

.btn-blue1{
  background-color: $blue1;
  color: $white;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: bold;
}